.ImageCard,.VideoCard {
    padding: 1rem;
    border: 1px solid #f4e5d1;
    margin: .5rem;
    min-width: 24rem;
    background-color: #f4e5d1;
    height: 24rem;
}
.ImageCard img {
    height: 100%;
}

@media only screen and (max-width: 540px) {
    .ImageCard,.VideoCard {
        min-width: 100%;
    }
    .ImageCard img {
        max-width: 100%;
    }
}